.sprite {
  --size: 24;
}

.sprite-DeathKnight-Blood {
  object-position: calc(-1080px / 36 * var(--size)) 0;
}

.sprite-DeathKnight-Frost {
  object-position: calc(-72px / 36 * var(--size)) 0;
}

.sprite-DeathKnight-Unholy {
  object-position: calc(-144px / 36 * var(--size)) 0;
}

.sprite-DemonHunter-Havoc {
  object-position: calc(-216px / 36 * var(--size)) 0;
}

.sprite-DemonHunter-Vengeance {
  object-position: calc(-252px / 36 * var(--size)) 0;
}

.sprite-Druid-Balance {
  object-position: calc(-324px / 36 * var(--size)) 0;
}

.sprite-Druid-Feral {
  object-position: calc(-360px / 36 * var(--size)) 0;
}

.sprite-Druid-Guardian {
  object-position: calc(-396px / 36 * var(--size)) 0;
}

.sprite-Druid-Restoration {
  object-position: calc(-432px / 36 * var(--size)) 0;
}

.sprite-Hunter-BeastMastery {
  object-position: calc(-504px / 36 * var(--size)) 0;
}

.sprite-Hunter-Marksmanship {
  object-position: calc(-540px / 36 * var(--size)) 0;
}

.sprite-Hunter-Survival {
  object-position: calc(-612px / 36 * var(--size)) 0;
}

.sprite-Mage-Arcane {
  object-position: calc(-684px / 36 * var(--size)) 0;
}

.sprite-Mage-Fire {
  object-position: calc(-720px / 36 * var(--size)) 0;
}

.sprite-Mage-Frost {
  object-position: calc(-756px / 36 * var(--size)) 0;
}

.sprite-Monk-Brewmaster {
  object-position: calc(-864px / 36 * var(--size)) 0;
}

.sprite-Monk-Mistweaver {
  object-position: calc(-900px / 36 * var(--size)) 0;
}

.sprite-Monk-Windwalker {
  object-position: calc(-936px / 36 * var(--size)) 0;
}

.sprite-Paladin-Holy {
  object-position: calc(-1044px / 36 * var(--size)) 0;
}

.sprite-Paladin-Protection {
  object-position: calc(0px / 36 * var(--size)) 0;
}

.sprite-Paladin-Retribution {
  object-position: calc(-1116px / 36 * var(--size)) 0;
}

.sprite-Priest-Discipline {
  object-position: calc(-1224px / 36 * var(--size)) 0;
}

.sprite-Priest-Holy {
  object-position: calc(-1296px / 36 * var(--size)) 0;
}

.sprite-Priest-Shadow {
  object-position: calc(-1332px / 36 * var(--size)) 0;
}

.sprite-Rogue-Assassination {
  object-position: calc(-1404px / 36 * var(--size)) 0;
}

.sprite-Rogue-Combat {
  object-position: calc(-1440px / 36 * var(--size)) 0;
}

.sprite-Rogue-Outlaw {
  object-position: calc(-1512px / 36 * var(--size)) 0;
}

.sprite-Rogue-Subtlety {
  object-position: calc(-1548px / 36 * var(--size)) 0;
}

.sprite-Shaman-Elemental {
  object-position: calc(-1620px / 36 * var(--size)) 0;
}

.sprite-Shaman-Enhancement {
  object-position: calc(-1656px / 36 * var(--size)) 0;
}

.sprite-Shaman-Restoration {
  object-position: calc(-1692px / 36 * var(--size)) 0;
}

.sprite-Warlock-Affliction {
  object-position: calc(-1764px / 36 * var(--size)) 0;
}

.sprite-Warlock-Demonology {
  object-position: calc(-1800px / 36 * var(--size)) 0;
}

.sprite-Warlock-Destruction {
  object-position: calc(-1836px / 36 * var(--size)) 0;
}

.sprite-Warrior-Arms {
  object-position: calc(-1944px / 36 * var(--size)) 0;
}

.sprite-Warrior-Fury {
  object-position: calc(-1980px / 36 * var(--size)) 0;
}

.sprite-Warrior-Protection {
  object-position: calc(-2088px / 36 * var(--size)) 0;
}
